
{% extends 'base.html' %}
{% block title %}Add User{% endblock title %}
{% block content %}
<main class="h-full overflow-y-auto">
    <div class=" mx-auto max-w-6xl py-20 px-12 lg:px-24  mb-24">
        <form method="POST">
            {% csrf_token %}
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col justify-center">
                <div class="-mx-3 md:flex mb-6">
                    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="company">
                            Username
                        </label>
                        <input class="w-full  text-gray-600 bg-gray-200 border border-gray-50 rounded py-3 px-4 mb-3"
                            id="company" type="text" name="username">
                    </div>
                </div>
                {% if error %}
                    <div class="bg-red-100 border-t border-b border-red-500 text-red-700 px-4 py-3" role="alert">
                        <p class="font-bold">{{error}}</p>
                      </div>
                    {% endif %}
                <div class="-mx-3 md:flex mb-6">
                    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="company">
                            Full Name
                        </label>
                        <input class="w-full  text-gray-600 bg-gray-200 border border-gray-50 rounded py-3 px-4 mb-3"
                            id="company" type="text" name="name">
                    </div>
                </div>
                <div class="-mx-3 md:flex mb-6">
                    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="title">
                            Email
                        </label>
                        <input class="w-full  text-gray-600 bg-gray-200 border border-gray-50 rounded py-3 px-4 mb-3"
                            id="title" type="text" name="email">
                    </div>
                </div>
                {% if error1 %}
                    <div class="bg-red-100 border-t border-b border-red-500 text-red-700 px-4 py-3" role="alert">
                        <p class="font-bold">{{error1}}</p>
                      </div>
                    {% endif %}
                <div class="-mx-3 md:flex mb-6">
                    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="company">
                            Phone Number
                        </label>
                        <input class="w-full  text-gray-600 bg-gray-200 border border-gray-50 rounded py-3 px-4 mb-3"
                            id="company" type="text" name="phone">
                    </div>
                </div>
                <div class="-mx-3 md:flex mb-6">
                    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="company">
                            Address
                        </label>
                        <input class="w-full  text-gray-600 bg-gray-200 border border-gray-50 rounded py-3 px-4 mb-3"
                            id="company" type="text" name="address">
                    </div>
                </div>
                <div class="-mx-3 md:flex mb-6">
                    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="uppercase tracking-wide text-gray-600  text-xs font-bold mb-2" for="company">
                            Password
                        </label>
                        <input
                            class="w-full  text-gray-600 bg-gray-200 border border-gray-50 rounded py-3 px-4 mb-3 outline-none"
                            id="company" type="password" name="password">
                    </div>
                </div>
                <div class="px-6 my-6 flex justify-center">
                    <button type="submit"
                        class="flex items-center justify-center md:w-1/2  px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                        Register
                    </button>
                </div>

            </div>
        </form>
    </div>
</main>
{% endblock content %}
