{% extends 'base.html' %}
{% block content %}
        <div class="container mx-auto max-w-md">
            <header class="header-bar bg-gray-200 text-black rounded-lg p-4 mb-4 shadow">
                <div class="user-info text-center">
                    <h3 class="text-black">Hello User</h3>
                    <p>You have <span class="incomplete-tasks text-red-600">{{total_incompleted_task}}</span> incomplete tasks</p>
                    
                </div>
                <div class="action-links">
                </div>
            </header>
            <div class="search-add-wrapper flex justify-between items-center mb-4">
                <form class="w-3/4" method="GET">
                    <input class="w-full p-2 border rounded" type="text" name='search-area' placeholder="Search tasks">
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded cursor-pointer">Search</button>
                </form>
                <a id="add-link" href="{% url 'addtask' %}" class="text-3xl text-blue-500">+</a>
            </div>
            {% for data in completed %}
            <div class="task-items-wrapper">
                <div class="task-wrapper completed bg-gray-200 border rounded p-4 mb-4 relative hover:shadow-md transition duration-300">
                    <div class="task-title flex justify-between items-center">
                        <div class="task-complete-icon"></div>
                        <i><s><a href="{% url 'detail' data.id %}" class="text-green-500">{{data.title}} </a></s></i>
                    
                    </div>
                    <a class="delete-link text-red-500" href="{% url 'delete' data.id %}">×</a>
                </div>
                {% endfor %}
               
                {% for data in incompleted %} 
                <div class="task-wrapper bg-white border rounded p-4 mb-4 relative hover:shadow-md transition duration-300">
                    <div class="task-title flex justify-between items-center">
                        <div class="task-incomplete-icon"></div>
                        <a href="{% url 'detail' data.id %}" class="text-blue-500">{{data.title}}</a>
                    </div>
                    
                    <a class="delete-link text-red-500" href="{% url 'delete' data.id %}">×</a>
                </div>
                {% endfor %}
                <h3 class="text-gray-500 text-center mt-4">No items in the list</h3>
            </div>
        </div>
{% endblock content %}
